<!-- wp:pattern {"slug":"child23/style"} /-->

<main class="main wp-block-group">
<div class="voteTime open"></div>
	<!-- 행사 이미지 -->
  <div class="main-banner-wrap">
    <img class="main-banner-img" src='http://2023kwf.com/img/main-banner.png' onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/main-banner.jpg'">
  </div>

  <!-- 투표 -->
  <div class="vote vote-wrap first">

    <!-- 1차 투표: 그룹 투표 -->
		<div class="vote-first">

      <!-- 1차 투표완료 버튼 -->
      <div class="sub-title">
        <div>PLEASE SELECT ONE TEAM FROM EACH GROUP</div>
      </div>
      <div class="group-title">BEYOND FANDOM</div>
      <div class="group-title-sub">K-POP, the culture of beloved by people from all around the world not just by fandoms</div>
      <div class="vote-group">
        <div class="vote-left">
          <img class="vote-team-img" src="http://2023kwf.com/img/vote1-team1.jpg" onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/vote1-team1.jpeg'">
          <div class="vote-checkbox-loc" onclick="this.previousElementSibling.click()"></div>
        </div>
        <div class="vote-right">
          <img src="http://2023kwf.com/img/vote1-team2.jpg" onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/vote1-team2.jpeg'">
          <div class="vote-checkbox-loc" onclick="this.previousElementSibling.click()"></div>
        </div>
      </div>
      
      <div class="group-title">BEYOND FORM</div>
      <div class="group-title-sub">K-POP performances that relentlessly evolve and revive</div>
      <div class="vote-group">
        <div class="vote-left">
          <img src="http://2023kwf.com/img/vote1-team3.jpg" onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/vote1-team3.jpeg'">
          <div class="vote-checkbox-loc" onclick="this.previousElementSibling.click()"></div>
        </div>
        <div class="vote-right">
          <img src="http://2023kwf.com/img/vote1-team4.jpg" onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/vote1-team4.jpeg'">
          <div class="vote-checkbox-loc" onclick="this.previousElementSibling.click()"></div>
        </div>
      </div>
      
      <div class="group-title">BEYOND STAR</div>
      <div class="group-title-sub">Anyone can become a star through K-POP</div>
      <div class="vote-group">
        <div class="vote-left">
          <img src="http://2023kwf.com/img/vote1-team5.jpg" onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/vote1-team5.jpeg'">
          <div class="vote-checkbox-loc" onclick="this.previousElementSibling.click()"></div>
        </div>
        <div class="vote-right">
          <img src="http://2023kwf.com/img/vote1-team6.jpg" onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/vote1-team6.jpeg'">
          <div class="vote-checkbox-loc" onclick="this.previousElementSibling.click()"></div>
        </div>
      </div>
      
      <div class="group-title">BEYOND TIME</div>
      <div class="group-title-sub">K-POP, leads the trend continuously transcending the limits of time</div>
      <div class="vote-group">
        <div class="vote-left">
          <img src="http://2023kwf.com/img/vote1-team7.jpg" onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/vote1-team7.jpeg'">
          <div class="vote-checkbox-loc" onclick="this.previousElementSibling.click()"></div>
        </div>
        <div class="vote-right">
          <img src="http://2023kwf.com/img/vote1-team8.jpg" onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/vote1-team8.jpeg'">
          <div class="vote-checkbox-loc" onclick="this.previousElementSibling.click()"></div>
        </div>
      </div>

      <!-- 1차 투표완료 버튼 -->
      <div class="next-stage">
        <div class="next-stage-btn">NEXT</div>
      </div>

		</div>

    <!-- 2차 투표: 개별 투표 -->
    <div class="vote-second">
      <div class="sub-title">
        <div>PLEASE SELECT BEST THREE TEAMS</div>
      </div>
      <div class="vote-group">
        <div class="vote-left">
          <img src="http://2023kwf.com/img/vote2-team1.jpg" onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/vote2-team1.jpeg'"/>
          <div class="vote-checkbox-loc" onclick="this.perentElement.click()"></div>
          </div>
        <div class="vote-right">
          <img src="http://2023kwf.com/img/vote2-team2.jpg" onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/vote2-team2.jpeg'"/>
          <div class="vote-checkbox-loc" onclick="this.perentElement.click()"></div>
          </div>
      </div>
      <div class="vote-group">
        <div class="vote-left">
          <img src="http://2023kwf.com/img/vote2-team3.jpg" onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/vote2-team3.jpeg'"/>
          <div class="vote-checkbox-loc" onclick="this.perentElement.click()"></div>
          </div>
        <div class="vote-right">
          <img src="http://2023kwf.com/img/vote2-team4.jpg" onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/vote2-team4.jpeg'"/>
          <div class="vote-checkbox-loc" onclick="this.perentElement.click()"></div>
          </div>
      </div>
      <div class="vote-group">
        <div class="vote-left">
          <img src="http://2023kwf.com/img/vote2-team5.jpg" onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/vote2-team5.jpeg'"/>
          <div class="vote-checkbox-loc" onclick="this.perentElement.click()"></div>
          </div>
        <div class="vote-right">
          <img src="http://2023kwf.com/img/vote2-team6.jpg" onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/vote2-team6.jpeg'"/>
          <div class="vote-checkbox-loc" onclick="this.perentElement.click()"></div>
          </div>
      </div>
      <div class="vote-group">
        <div class="vote-left">
          <img src="http://2023kwf.com/img/vote2-team7.jpg" onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/vote2-team7.jpeg'"/>
          <div class="vote-checkbox-loc" onclick="this.perentElement.click()"></div>
          </div>
        <div class="vote-right">
          <img src="http://2023kwf.com/img/vote2-team8.jpg" onerror="this.onerror=null; this.src= 'http://2023kwf.com/img/vote2-team8.jpeg'"/>
          <div class="vote-checkbox-loc" onclick="this.perentElement.click()"></div>
          </div>
      </div>
      
      <!-- 2차 투표완료 버튼 -->
      <div class="vote-submit">
        <div class="vote-submit-btn">FINISH</div>
      </div>

		</div>

	</div>

</main>
<iframe id="fp" style="display: none;"></iframe>
<!-- wp:pattern {"slug":"child23/script"} /-->